name: pull_requests

on:
  pull_request:
    paths-ignore:
      - 'README.md'
      - '.all-contributorsrc'

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test and Build
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - name: install, lint, test, build
        run: |
          DEBUG=true yarn install --frozen-lockfile
          yarn run lint
          yarn test
          yarn build