name: release_tags

on:
  push:
      tags:     
        - 'v*.*.*'  

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test and Build
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: install, lint, test, build
        run: |
          DEBUG=true yarn install --frozen-lockfile
          yarn run lint
          yarn test
          yarn build

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: install
        run: yarn install --frozen-lockfile

      - name: git-tag-name
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: git-tag-to-package-version
        run: npm version ${{ env.RELEASE_VERSION }} --no-git-tag-version
